<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Appointments">
            <directory>./module/Appointments/test</directory>
        </testsuite>
        <testsuite name="Stonebase">
            <directory>./module/Stonebase/test</directory>
        </testsuite>
        <testsuite name="Stonelink">
            <directory>./module/Stonelink/test</directory>
        </testsuite>
        <testsuite name="Users">
            <directory>./module/Users/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="HTTP_HOST" value="http://localhost" />
        <server name="SERVER_NAME" value="stonedev.localhost" />
        <server name="SERVER_PORT" value="80" />
        <server name="REMOTE_ADDR" value="127.0.0.1"/>
    </php>
</phpunit>
