
.navbar-color {
     background-color: 	#003366 !important;
     padding-bottom: 10px;
     padding-top:0;
    
     
}
.navbar-collapse li a {
    color: #111;
}
.navcolor li a {
  color:#ffffff;
 }

 .navbar-center li a {
    text-align: center;
	}

  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#mapid {
  height: 100vh;
  width: 100vw;

      }
.mt-0 {
  margin-top: 25px !important;
}

#form {

	height: 100%;
	width: 100%;
	float: right;
	padding: 40px 2%;
}
form{
    margin: auto;
    max-width: 500px;
}

      /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100vh;
    width: 100vw;
   	margin: 0;
    padding: 0;
  
      }
      
      .hide-menu {
    background-color:#336ca6;
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);      
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.show-menu {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
 }  
.zf-green {
	color: #68b604;
}
/* The side navigation menu */
.sidenav {
    height: 50%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 53px; 
    bottom:100px;/* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 48px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav li a{
    /*padding: 4px 4px 4px 8px;*/
    padding: 32px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #111 ;
     display: block;
    font-family:Serif;
    transition: 0.3s;
    
}
.sidenav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav ul li a :hover{
    color: #f1f1f1;
}
*/
/* Position and style the close button (top right corner) */


.closebtn {
    position: absolute;
    top: 0;
    Left: 150px;
    font-size: 36px;
    margin-left: 0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.navbar-sticks{
	font-size:30px;
	cursor:pointer; 
	color:#ffffff;
	 }

/* On smaller screens, like a phone where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 40.5em) {
    .sidenav {
    padding-top: 12px; 
  	width: auto;
    float: none; 
    margin-left:10px;
  	height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
 }
 .closebtn {
    position: absolute;
    top: 0;
    Left: 80px;
  
    margin-left: 0px;
}
.navbar-sticks{
  font-size:30px;
  cursor:pointer;
  color:#ffffff; 
  }
.sidenav a {
	font-size: 10px;
	width: auto;
    float: none;}
.sidenav li a{
    /*padding: 4px 4px 4px 8px;*/
    padding: 32px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #111 ;
     display: block;
    font-family:Serif;
    transition: 0.3s;
    
}
.sidenav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
}
html, body{
    height: 100%;
    width: 100%;
   
    padding: 0;
    }
#mapid {
	  height: 640px;
	  width: 100vw;
      }
}
@media screen and (max-width: 40.5em) {
  .sidenav li a{
    /*padding: 4px 4px 4px 8px;*/
    padding: 32px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #111 ;
     display: block;
    font-family:Serif;
    transition: 0.3s;
    
}
 .closebtn {
    position: absolute;
    top: 0;
    Left: 80px;
   
    margin-left:0px;
}
html, body{
    height: 100%;
    width: 100%;
   
    padding: 0;
    }
#mapid {
	  height: 640px;
	  width: 100vw;
      }
.sidenav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
}
  
  .navbar-sticks{
  font-size:30px;
  cursor:pointer;
  color:#ffffff; }
  
  .sidenav {
    height: 40%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 53px; 
    bottom:100px;/* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
/* Disable vertical scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
}
}
.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900),
		to(#57a900));
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover, .btn-success:active, .btn-success.active,
	.btn-success.disabled, .btn-success[disabled] {
	background-color: #ffffff;
}

div.container a.navbar-brand>img {
	display: inline;
	margin-right: 4px;
	margin-top: -2px;
}